header {
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
  margin: 10px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.variable {
  margin: 10px;
}

.submit {
  margin-top: 10px;
}